header {
  height: 85px;
  width: 100%;
  background-color: lightblue;
}

footer {
  position: fixed;
  bottom: 0%;
  height: 85px;
  width: 100%;
  background-color: darkkhaki;
}

header > h1 {
  margin: auto;
  width: 100%;
  position: relative;
  font-size: 2em;
  left: 10%;
}

#navBar {
  position: fixed;
  right: 10%;
}

#navBar > ul{
  list-style: none;
}

#navBar > ul > li {
  display: inline;
  padding: 5px;
}

.sideBar {
  width: 200px;
  height: 100%;
  background-color: green;
  position: fixed;
  z-index: 1;
  top: 98px;
  left: 10px;
  /* overflow: hidden; */
  padding: 3px;
}

#imgContainer {
  display: flex;
  position: fixed;
  left: 220px;
}

#img1Div, #img2Div, #img3Div {
  flex: 33.33%;
  padding: 5px;
  float: left;
}

#selectButtonGroup {
  position: fixed;
  top: 60%;
  left: 350px;
}
