header {
  height: 85px;
  width: 100%;
  background-color: lightblue;
}

body {
  background-color: lightblue;
}

footer {
  position: fixed;
  z-index: 2;
  bottom: 0%;
  height: 85px;
  width: 100%;
  background-color: darkkhaki;
}

canvas {
  background-color: white;
}

header > h1 {
  margin: auto;
  width: 100%;
  position: relative;
  font-size: 2em;
  left: 10%;
}

#navBar {
  position: relative;
  left: 0px;
}

#navBar > ul{
  list-style: none;
}

#navBar > ul > li {
  display: inline;
  padding: 5px;
}

.sideBar {
  display: inline-block;
  width: 200px;
  height: 100%;
  position: relative;
  z-index: 1;
  top: -809px;
  left: 0px;
  padding: 3px;
}

#leftCol {
  position: fixed;
  width: 150px;
  top: 0;
  bottom: 0;
}

#imgContainer {
  display: flex;
  position: relative;
  left: 210px;
  top: 0px;
  width: 990px;
}

#img1Div, #img2Div, #img3Div {
  flex: 33.33%;
  padding: 5px;
  float: left;
}

#selectButtonGroup {
  position: fixed;
  top: 60%;
  left: 350px;
}

#chartZone {
  position: relative;
  top: 150px;
  left: 300px;
  height: 500px;
  width: 500px;
}